body {
    background: rgba(22, 27, 33, 1);
    color: rgba(224, 224, 224, 1);
    font-family: Roboto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    margin-top:0.5rem;
}


#infoTest {
    width: 100%;
    background-color: rgba(29, 35, 44, 1);
    text-align:center;
    border-radius: 25px;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    bottom:0;
}


table::-webkit-scrollbar {
    width: 20px;
}

table::-webkit-scrollbar-track {
    background: rgba(41, 49, 61, 1);
    margin-top: 5.5rem;
}
table::-webkit-scrollbar-thumb {
    background-color: #0077e4; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid rgba(41, 49, 61, 1);
}

tr th {
    position: sticky;
    top: 0;
    z-index: 3;
}


th {
    padding: 1rem;
    font-size: 1.4rem;
    background-color: rgba(41, 49, 61, 1);
}


th:first-child{
    border-top-left-radius: 25px;
}


th:last-child{
    border-top-right-radius: 25px;
}


td {
    padding: 1rem;
    word-break: break-all;
    border-top: 1px solid rgba(59, 71, 88, 1);
}


.wrapperTable{
    width: 95%;
}


a {
    color: rgba(0, 119, 228, 1);
    font-weight:bold;
}


ul {
    list-style-type: none;
    display:flex;
    justify-content:center;
}


li {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding: 1rem;
    min-width: 5rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}


.activeItemMenu {
    background-color: rgba(0, 119, 228, 1);
}


.itemMenu:hover {
    background-color: rgba(0, 119, 228, 0.5);
}


.menuWrapper {
    width: 100%;
    background-color: rgba(29, 35, 44, 1);
    border-radius: 25px;
}


.tableReport {
    background-color: rgba(29, 35, 44, 1);
    color: rgba(203, 211, 221, 1);
    border-radius: 25px;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 3rem;
    max-height: 40rem;
    overflow-y:scroll;
}


.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.8em 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: #0077e4;
    color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(0, 119, 228, 0.5);
}
.bubbly-button:hover{
    background-color:#0061bd;
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
        display: none;
        top: -75%;
        background-image: radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, transparent 20%, #0077e4 20%, transparent 30%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0077e4 15%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0077e4 15%, transparent 20%), radial-gradient(circle, $button-bg 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%), radial-gradient(circle, #0077e4 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: #0061bd;
    box-shadow: 0 2px 25px rgba(0, 119, 228, 0.2);
}
.bubbly-button.animate:before
{
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}


.customCheckbox {
    position: fixed;
    z-index: -1;
    opacity: 0;
}
.customCheckbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.customCheckbox+label:last-child {
    margin-left:1rem;
}
.customCheckbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.customCheckbox.Yes:checked + label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("../Images/checkMark.png");
}
.customCheckbox.Yes:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}
.customCheckbox.Yes:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.customCheckbox.Yes:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.customCheckboxYes:focus:not(:checked) + label::before {
    border-color: #80bdff;
}
.customCheckbox.Yes:disabled + label::before {
    background-color: #e9ecef;
}

.customCheckbox.No:checked + label::before {
    border-color: #F44336;
    background-color: #F44336;
    background-image: url("../Images/cross.png");
}
.customCheckbox.No:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}
.customCheckbox.No:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.customCheckbox.No:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25);
}
.customCheckbox.No:focus:not(:checked) + label::before {
    border-color: #80bdff;
}
.customCheckbox.No:disabled + label::before {
    background-color: #e9ecef;
}

